*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --azulFraco: rgb(122, 164, 255);
    --bordar: 1px solid red;
}

body,html{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(60deg, rgb(43, 43, 43), black);
}

.container{
    width: 80%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: var(--bordar);
}

.card{
    /* width: 100px;
    height: 100px;
    background-color: transparent;
    animation: posicao 10s ease-in-out infinite;
    border-top: 10px solid rgb(35, 137, 255);
    border-radius: 50%; */
    width: 100px;
    height: 100px;
    border: 10px solid var(--azulFraco);
    border-top: 10px solid transparent;
    border-radius: 50%;
    position: absolute;
    animation: posicao 2s linear infinite;
}


@keyframes posicao {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}